$white: #fff;
$dark-green: #005953;
$light-green: #439539;
$lighter-green: #328045;
$black: #000;
$translucent-black: #000000a9;
$gray: #616161;
$light-gray: #cfd1cf;

@font-face {
	font-family: 'Straczynski';
	src: url( ./fonts/Straczynski/Straczynski.ttf );
}

/* stylelint-disable-next-line function-url-quotes */
@import url( 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap' );

/* default classes for hiding based on screen size */
@media ( max-width: 760px ) {
	.hide-small {
		display: none !important; /* stylelint-disable-line declaration-no-important */
	}
}

@media ( max-width: 992px ) and ( min-width: 761px ) {
	.hide-medium {
		display: none !important; /* stylelint-disable-line declaration-no-important */
	}
}

@media ( min-width: 993px ) {
	.hide-large {
		display: none !important; /* stylelint-disable-line declaration-no-important */
	}
}

body {
	margin: 0;

	background: $white;
}

/* start menu stuff */
/* The fixed ribbon menu the shows on desktop */
.menu {
	display: flex;

	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;

	flex-direction: row;
	align-items: center;

	width: 100%;

	height: 3em;

	border-bottom: 3px solid $dark-green;

	background: $white;

	/* the leftmost logo home page link */
	.logo {
		height: 3em;

		img {
			height: 100%;
		}
	}

	@media ( max-width: 600px ) {
		.logo {
			height: 2.5em;
		}
	}

	/* the row of links on medium to large screens to various pages */
	.desktop-links {
		display: flex;

		align-items: center;
		justify-content: flex-end;

		width: 100%;

		height: 100%;

		a {
			display: flex;

			align-items: center;

			height: 100%;

			margin-right: 1em;

			color: $dark-green;

			font-family: 'Straczynski', 'Open Sans', sans-serif;

			font-size: 1em;

			text-decoration: none;
		}

		a:hover {
			color: $light-green;
		}
	}

	.mobile-links {
		display: flex;

		align-items: center;
		justify-content: flex-end;

		width: 100%;

		height: 100%;

		button {
			display: flex;

			align-items: center;
			justify-content: center;

			width: 2em;

			height: 100%;

			padding: 0.5em;

			border: 0;

			background: $light-green;

			color: $light-gray;

			font-size: 1.5em;
		}
	}
}

/* styling for the popup mobile menu */
.mobile-menu {
	display: none;

	position: fixed;

	z-index: 2;

	top: 0;
	right: 0;

	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100%;

	height: 100%;

	background: $translucent-black;

	button {
		display: flex;

		position: absolute;

		top: 0;
		right: 0;

		align-items: center;
		justify-content: center;

		width: 2em;

		padding: 0.5em;

		border: 0;

		background: $light-green;

		color: $light-gray;

		font-size: 1.5em;
	}

	a {
		width: calc( 100% - 3em );

		margin: 1em;

		padding: 0.5em;

		border-radius: 1.1em;

		background: $light-green;

		color: $light-gray;

		font-family: 'Straczynski', 'Open Sans', sans-serif;
		font-size: 1.2em;
		text-align: center;
		text-decoration: none;
	}
}
/* end menu stuff */

/* The main hero image with taglines */
header {
	display: flex;

	position: relative;

	flex-direction: row;
	justify-content: center;

	width: 100%;

	height: 20em;

	margin-top: 3em;

	background-image: url( ../images/auditorium.jpg );
	background-position: center;
	background-size: cover;

	/* The three tagline segments */
	p {
		align-self: flex-end;

		margin: 0.3em;
		margin-bottom: 0.5em;

		padding: 0.8em;

		border-radius: 1.3em;

		background: $dark-green;

		color: $light-gray;

		font-family: 'Straczynski', 'Open Sans', sans-serif;
		font-size: 1.2em;
	}
}

@media ( max-width: 600px ) {
	header {
		flex-direction: column;
		justify-content: flex-end;

		height: 25em;

		p {
			align-self: stretch;

			margin-right: 1em;
			margin-left: 1em;

			padding: 0.5em;

			font-size: 1em;
			text-align: center;
		}
	}
}

/* All the main content */
main {

	/* The join us/call to action ribbon */
	.join-us {
		display: flex;

		flex-direction: column;

		width: 100%;

		background: $dark-green;

		color: $light-gray;

		/* For the bottom half, watch online button */
		> a {
			display: flex;

			align-items: center;
			align-self: center;
			justify-content: center;

			width: 11em;

			margin: 1em;

			padding: 0.8em;

			border-radius: 0.5em;

			background: $light-green;

			color: $light-gray;

			font-family: 'Straczynski', 'Open Sans', sans-serif;

			text-decoration: none;
		}

		a:hover {
			color: $dark-green;
		}

		/* The top/first half of the ribbon (with times and location) */
		.text {
			display: flex;

			flex-direction: row;
			align-items: center;

			padding: 1em;

			div {
				display: flex;

				flex-direction: column;

				width: 50%;

				p {
					display: flex;

					align-items: center;
					justify-content: center;

					margin: 0;
					margin-bottom: 0.4em;

					font-size: 1.4em;
				}

				.sub {
					margin-bottom: 0.2em;

					font-size: 1em;
				}
			}

			a {
				display: flex;

				align-items: center;
				justify-content: center;

				width: 9em;

				height: min-content;

				margin-right: calc( 25% - 5em );
				margin-left: calc( 25% - 5em );

				padding: 0.8em;

				border-radius: 0.5em;

				background: $light-green;

				color: $light-gray;

				font-family: 'Straczynski', 'Open Sans', sans-serif;

				text-decoration: none;
			}

			a:hover {
				color: $dark-green;
			}
		}

		@media ( max-width: 600px ) {
			.text {
				flex-direction: column;

				div {
					width: 100%;
				}

				a {
					margin-top: 1em;
				}
			}
		}

		/* styling the centered "or" with the surrounding lines */
		.centered-or {
			display: flex;

			flex-direction: row;
			align-items: center;

			hr {
				width: 100%;

				height: 1px;

				margin-right: 0.8em;
				margin-left: 0.8em;

				border: 0;

				background: $light-green;
			}

			p {
				margin: 0;

				font-size: 1.5em;
			}
		}
	}

	.ministries-ribbon {
		display: flex;

		flex-direction: column;
		align-items: center;
		justify-content: center;

		background-image: url( ../images/entryway.jpg );
		background-position: center;
		background-size: cover;

		>p {
			padding: 0.6em;

			border-radius: 1.3em;

			background: $dark-green;

			color: $light-gray;

			font-family: 'Straczynski', 'Open Sans', sans-serif;
			font-size: 1.2em;
		}

		.ministries-list {
			display: flex;

			flex-direction: row;

			.ministry {
				display: flex;

				flex-direction: column;

				width: 100%;

				margin: 1em;

				padding: 1em;

				border: 2px solid $light-green;
				border-radius: 1em;

				background: $translucent-black;

				h4 {
					margin-top: 0.6em;
					margin-bottom: 0.6em;

					color: $light-gray;

					font-family: 'Straczynski', 'Open Sans', sans-serif;
					font-size: 1.1em;
					font-weight: normal;

					text-align: center;
				}

				p {
					height: 100%;

					color: $light-gray;
				}

				a {
					align-self: center;

					width: max-content;

					padding: 0.8em;

					border-radius: 0.5em;

					background: $light-green;

					color: $white;

					font-family: 'Straczynski', 'Open Sans', sans-serif;

					text-decoration: none;
				}

				a:hover {
					color: $dark-green;
				}
			}
		}

		@media ( max-width: 600px ) {
			.ministries-list {
				flex-direction: column;

				.ministry {
					width: auto;
				}
			}
		}
	}
}

footer {
	display: flex;

	flex-direction: row;
	align-items: center;
	justify-content: center;

	padding-top: 2em;
	padding-bottom: 2em;

	background: $light-gray;

	.address {
		min-width: 12em;

		padding-left: 2em;

		p {
			margin-top: 0.4em;
			margin-bottom: 0.4em;
		}
	}

	.footer-menu {
		display: flex;

		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;

		width: 100%;

		a {
			padding: 1em;

			color: $dark-green;

			font-family: 'Straczynski', 'Open Sans', sans-serif;

			font-size: 1em;

			text-decoration: none;
		}

		a:hover {
			color: $light-green;
		}
	}

	.social-media {
		min-width: 12em;
	}
}

@media ( max-width: 600px ) {
	footer {
		flex-direction: column;
	}
}
