$white: #fff;
$dark-green: #005953;
$light-green: #439539;
$lighter-green: #328045;
$black: #000;
$translucent-black: #000000a9;
$gray: #616161;
$light-gray: #cfd1cf;

@font-face {
	font-family: 'Straczynski';
	src: url( ./fonts/Straczynski/Straczynski.ttf );
}

/* stylelint-disable-next-line function-url-quotes */
@import url( 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap' );

/* default classes for hiding based on screen size */
@media ( max-width: 760px ) {
	.hide-small {
		display: none !important; /* stylelint-disable-line declaration-no-important */
	}
}

@media ( max-width: 992px ) and ( min-width: 761px ) {
	.hide-medium {
		display: none !important; /* stylelint-disable-line declaration-no-important */
	}
}

@media ( min-width: 993px ) {
	.hide-large {
		display: none !important; /* stylelint-disable-line declaration-no-important */
	}
}

body {
	margin: 0;

	background: $white;
}

/* start menu stuff */
/* The fixed ribbon menu the shows on desktop */
.menu {
	display: flex;

	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;

	flex-direction: row;
	align-items: center;

	width: 100%;

	height: 3.5em;

	border-bottom: 3px solid $dark-green;

	background: $white;

	/* the leftmost logo home page link */
	.logo {
		height: 3em;

		img {
			height: 100%;
		}
	}

	/* shrink logo on mobile */
	@media ( max-width: 600px ) {
		height: 3em;

		.logo {
			height: 2.5em;
		}
	}

	/* the row of navigation links on medium to large screens */
	.desktop-links {
		display: flex;

		align-items: center;
		justify-content: flex-end;

		width: 100%;

		height: 100%;

		a {
			display: flex;

			align-items: center;

			height: 100%;

			margin-right: 1em;

			color: $dark-green;

			font-family: 'Straczynski', 'Open Sans', sans-serif;

			font-size: 1em;

			text-decoration: none;
		}

		>.ministries-menu {
			display: flex;

			position: relative;

			flex-direction: column;
			align-items: center;

			height: 100%;

			margin-right: 1em;

			a {
				margin-right: 0;
			}

			.sub-links {
				display: flex;

				position: absolute;

				top: 100%;

				flex-direction: column;
				align-items: center;

				width: max-content;

				max-height: 0;

				padding-right: 1em;
				padding-left: 1em;

				overflow: hidden;

				transition: max-height 0.8s, padding-bottom 0.2s 0.2s;

				border-bottom: 3px solid $dark-green;

				background: $light-gray;

				font-size: 0.95em;

				a {
					margin-top: 0.5em;
					margin-bottom: 0.5em;
				}
			}
		}

		>.ministries-menu:hover {
			.sub-links {
				max-height: 13em;

				padding-bottom: 0.4em;
			}
		}

		a:hover {
			color: $light-green;
		}
	}

	/* styling for open menu button and container */
	.mobile-links {
		display: flex;

		align-items: center;
		justify-content: flex-end;

		width: 100%;

		height: 100%;

		button {
			display: flex;

			align-items: center;
			justify-content: center;

			width: 2em;

			height: 100%;

			padding: 0.5em;

			border: 0;

			background: $light-green;

			color: $light-gray;

			font-size: 1.5em;
		}
	}
}

/* styling for the popup mobile menu */
.mobile-menu {
	display: none;

	position: fixed;

	z-index: 2;

	top: 0;
	right: 0;

	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100%;

	height: calc( 100% - 1em );

	padding-top: 2em;

	overflow-y: scroll;

	background: $translucent-black;

	>button {
		display: flex;

		position: fixed;

		z-index: 1;

		top: 0;
		right: 0;

		align-items: center;
		justify-content: center;

		width: 2em;

		padding: 0.5em;

		border: 0;

		background: $light-green;

		color: $light-gray;

		font-size: 1.5em;
	}

	>a {
		width: calc( 100% - 3em );

		margin: 1em;

		padding: 0.5em;

		border-radius: 1.1em;

		background: $light-green;

		color: $light-gray;

		font-family: 'Straczynski', 'Open Sans', sans-serif;
		font-size: 1.2em;
		text-align: left;
		text-decoration: none;
	}

	.accordion {
		display: flex;

		flex-direction: column;
		align-items: center;

		width: 100%;

		button {
			display: flex;

			flex-direction: row;

			width: calc( 100% - 3em );

			margin-top: 1em;
			margin-bottom: 1em;
			padding: 0.7em;

			border: 0;
			border-radius: 1.5em;

			background: $light-green;

			color: $light-gray;

			cursor: pointer;

			a {
				display: flex;

				align-items: center;

				width: 100%;
				height: 100%;

				color: $light-gray;

				font-family: 'Straczynski', 'Open Sans', sans-serif;
				font-size: 1.4em;
				text-align: left;
				text-decoration: none;
			}

			p {
				display: flex;

				align-items: center;

				width: 100%;
				height: 100%;

				margin: 0;

				color: $light-gray;

				font-family: 'Straczynski', 'Open Sans', sans-serif;
				font-size: 1.4em;
				text-align: left;
				text-decoration: none;
			}

			i {
				display: flex;

				flex-direction: row;
				align-items: center;
				justify-content: end;

				width: 50%;
				height: 100%;

				font-size: 1.4em;
			}

			i:before {
				-webkit-transform: rotateZ( 0deg );
				transform: rotateZ( 0deg );

				transition: transform 0.5s;
			}
		}

		button.open {
			i:before {
				-webkit-transform: rotateZ( -180deg );
				transform: rotateZ( -180deg );
			}
		}

		div {
			display: flex;

			flex-direction: column;
			align-items: center;

			width: 100%;
			max-height: 40em;

			margin: 0;

			overflow: hidden;

			transition: max-height 0.5s, padding 0.6s;

			a {
				width: calc( 100% - 5em );

				margin: 0.5em;

				padding: 0.5em;

				border-radius: 1.1em;

				background: $light-green;

				color: $light-gray;

				font-family: 'Straczynski', 'Open Sans', sans-serif;
				font-size: 1.2em;
				text-align: left;
				text-decoration: none;
			}
		}

		div.closed {
			max-height: 0;

			padding: 0;

			border: 0;
		}
	}
}
/* end menu stuff */

/* The main hero image with taglines */
header {
	display: flex;

	position: relative;

	flex-direction: row;
	justify-content: center;

	width: 100%;

	height: 20em;

	margin-top: 3em;

	background-image: url( ../images/auditorium.jpg );
	background-position: center;
	background-size: cover;

	/* The three tagline segments */
	p {
		align-self: flex-end;

		margin: 0.3em;
		margin-bottom: 0.5em;

		padding: 0.8em;

		border-radius: 1.3em;

		background: $dark-green;

		color: $light-gray;

		font-family: 'Straczynski', 'Open Sans', sans-serif;
		font-size: 1.2em;
	}
}

/* change direction and size of taglines on mobile */
@media ( max-width: 600px ) {
	header {
		flex-direction: column;
		justify-content: flex-end;

		height: 25em;

		p {
			align-self: stretch;

			margin-right: 1em;
			margin-left: 1em;

			padding: 0.5em;

			font-size: 1em;
			text-align: center;
		}
	}
}

/* All the main content */
main {

	/* The join us/call to action ribbon */
	.join-us {
		display: flex;

		flex-direction: column;

		width: 100%;

		background: $dark-green;

		color: $light-gray;

		/* For the bottom half, watch online button */
		> a {
			display: flex;

			align-items: center;
			align-self: center;
			justify-content: center;

			width: 11em;

			margin: 1em;

			padding: 0.8em;

			border-radius: 0.5em;

			background: $light-green;

			color: $white;

			font-family: 'Straczynski', 'Open Sans', sans-serif;

			text-align: center;
			text-decoration: none;
		}

		a:hover {
			color: $dark-green;
		}

		/* The top/first half of the ribbon (with times and location) */
		.text {
			display: flex;

			flex-direction: row;
			align-items: center;

			padding: 1em;

			div {
				display: flex;

				flex-direction: column;

				width: 50%;

				p {
					display: flex;

					align-items: center;
					justify-content: center;

					margin: 0;
					margin-bottom: 0.4em;

					font-size: 1.4em;
				}

				.sub {
					margin-bottom: 0.2em;

					font-size: 1em;
				}
			}

			a {
				display: flex;

				align-items: center;
				justify-content: center;

				width: 9em;

				height: min-content;

				margin-right: calc( 25% - 5em );
				margin-left: calc( 25% - 5em );

				padding: 0.8em;

				border-radius: 0.5em;

				background: $light-green;

				color: $white;

				font-family: 'Straczynski', 'Open Sans', sans-serif;

				text-decoration: none;
			}

			a:hover {
				color: $dark-green;
			}
		}

		/* change direction of times and location text on mobile */
		@media ( max-width: 600px ) {
			.text {
				flex-direction: column;

				div {
					width: 100%;
				}

				a {
					margin-top: 1em;
				}
			}
		}

		/* styling the centered "or" with the surrounding lines */
		.centered-or {
			display: flex;

			flex-direction: row;
			align-items: center;

			hr {
				width: 100%;

				height: 1px;

				margin-right: 0.8em;
				margin-left: 0.8em;

				border: 0;

				background: $light-green;
			}

			p {
				margin: 0;

				font-size: 1.5em;
			}
		}
	}

	.about-ribbon {
		display: flex;

		flex-direction: column;
		align-items: center;

		width: 100%;

		background: $light-gray;

		color: $black;

		.title {
			width: max-content;

			padding: 0.6em;

			border-radius: 1.3em;

			background: $dark-green;

			color: $light-gray;

			font-family: 'Straczynski', 'Open Sans', sans-serif;
			font-size: 1.2em;
		}

		p {
			margin-right: 5em;
			margin-left: 5em;

			font-size: 1.1em;
			line-height: 1.6em;
			text-align: center;
		}

		@media ( max-width: 760px ) {
			p {
				margin-right: 2em;
				margin-left: 2em;
			}
		}

		a {
			display: flex;

			align-items: center;
			align-self: center;
			justify-content: center;

			width: 11em;

			margin: 1em;

			padding: 0.8em;

			border-radius: 0.5em;

			background: $light-green;

			color: $white;

			font-family: 'Straczynski', 'Open Sans', sans-serif;

			text-decoration: none;
		}

		a:hover {
			color: $dark-green;
		}
	}

	/* ribbon/slider for list of ministries */
	.ministries-ribbon {
		display: flex;

		flex-direction: column;
		align-items: center;
		justify-content: center;

		overflow: hidden;

		background-image: url( ../images/entryway-new.jpg );
		background-position: center;
		background-size: cover;

		>p {
			padding: 0.6em;

			border-radius: 1.3em;

			background: $dark-green;

			color: $light-gray;

			font-family: 'Straczynski', 'Open Sans', sans-serif;
			font-size: 1.2em;
		}

		/* each group of ministries */
		.ministries-list {
			display: flex;

			flex-direction: row;

			/* indivivual item styling */
			.ministry {
				display: flex;

				flex-direction: column;

				width: 100%;

				margin: 1em;

				padding: 1em;

				border: 2px solid $light-green;
				border-radius: 1em;

				background: $translucent-black;

				h4 {
					margin-top: 0.6em;
					margin-bottom: 0.6em;

					color: $light-gray;

					font-family: 'Straczynski', 'Open Sans', sans-serif;
					font-size: 1.1em;
					font-weight: normal;

					text-align: center;
				}

				p {
					height: 100%;

					color: $light-gray;
				}

				a {
					align-self: center;

					width: max-content;

					padding: 0.8em;

					border-radius: 0.5em;

					background: $light-green;

					color: $white;

					font-family: 'Straczynski', 'Open Sans', sans-serif;

					text-decoration: none;
				}

				a:hover {
					color: $dark-green;
				}
			}
		}

		/* arrows that show user to scroll/drag horizontally to view more ministries on mobile */
		.arrows {
			display: flex;

			width: 100%;

			i {
				width: 100%;

				color: $black;

				text-align: center;
			}

			p {
				margin: 0;

				color: $black;

				font-family: 'Straczynski', 'Open Sans', sans-serif;
				font-size: 0.8em;
			}
		}

		/* make ministries list a scroll snap enabled scroll interface to act as carousel */
		@media ( max-width: 760px ) {
			.ministries-list {
				flex-direction: row;

				width: 100%;

				overflow: scroll;
				scroll-snap-type: x mandatory;

				.ministry {
					min-width: calc( 100vw - 5em );

					scroll-snap-align: center;
				}
			}
		}
	}

	.latest-vid {
		display: flex;

		flex-direction: column;
		align-items: center;

		width: 100%;

		padding-top: 0.5em;
		padding-bottom: 2em;

		background: $light-gray;

		.title {
			width: max-content;

			margin-bottom: 1.5em;

			padding: 0.6em;

			border-radius: 1.3em;

			background: $dark-green;

			color: $light-gray;

			font-family: 'Straczynski', 'Open Sans', sans-serif;
			font-size: 1.2em;
		}

		p {
			margin-right: 5em;
			margin-left: 5em;

			font-size: 1.1em;
		}

		.vids {
			display: flex;

			flex-direction: row;

			width: 100%;

			iframe {
				width: 100%;

				height: 200px;

				margin: 1em;
			}
		}
	}
}
/* main content end */

/* footer styling start */
footer {
	display: flex;

	flex-direction: row;
	align-items: center;
	justify-content: center;

	padding-top: 2em;
	padding-bottom: 2em;

	background: $white;

	/* styling the displayed address */
	.address {
		display: flex;

		flex-direction: column;

		min-width: 12em;

		padding-left: 2em;

		a {
			margin-top: 0.4em;
			margin-bottom: 0.4em;

			color: $dark-green;

			text-decoration: none;
		}

		a:hover {
			color: $light-green;
		}
	}

	/* styling the group of links in footer that are the same as in top menu */
	.footer-menu {
		display: flex;

		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;

		width: 100%;

		border-right: 1px solid $light-green;
		border-left: 1px solid $light-green;

		a {
			padding: 1em;

			color: $dark-green;

			font-family: 'Straczynski', 'Open Sans', sans-serif;

			font-size: 1em;

			text-decoration: none;
		}

		a:hover {
			color: $light-green;
		}
	}

	/* links to social media like facebook page */
	.social-media {
		display: flex;

		flex-direction: row;
		justify-content: center;

		min-width: 9em;

		font-size: 1.4em;

		a {
			padding: 0.8em;

			color: $dark-green;
		}

		a:hover {
			color: $light-green;
		}
	}
}

/* make footer vertical on mobile and change the area-splitting borders */
@media ( max-width: 600px ) {
	footer {
		flex-direction: column;

		.address {
			padding-left: 0;

			a {
				text-align: center;
			}
		}

		.footer-menu {
			border: 0;
		}

		.social-media {
			padding-top: 1em;
			padding-right: 1.5em;
			padding-left: 1.5em;

			border-top: 1px solid $light-green;
		}
	}
}
/* footer styling end */
